<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2015-11-14-hello-world.markdown</string>
		</array>
		<array>
			<string>2015-11-18-binary-tree-inorder-traversal.markdown</string>
		</array>
		<array>
			<string>2015-11-18-same-tree.markdown</string>
		</array>
		<array>
			<string>2015-11-20-same-tree-update.markdown</string>
		</array>
		<array>
			<string>2015-11-20-symmetric-tree.markdown</string>
		</array>
		<array>
			<string>2015-11-21-maximum-depth-of-binary-tree.markdown</string>
		</array>
		<array>
			<string>2015-11-22-invert-binary-tree.markdown</string>
		</array>
		<array>
			<string>2015-11-24-loweset-common-ancestor-of-a-binary-tree.markdown</string>
		</array>
		<array>
			<string>2015-11-24-lowest-common-ancestor-of-a-BST.markdown</string>
		</array>
		<array>
			<string>2015-11-24-unique-binary-search-trees.markdown</string>
		</array>
		<array>
			<string>2015-11-26-count-complete-tree-nodes.markdown</string>
		</array>
		<array>
			<string>2015-11-27-caffe-install.markdown</string>
		</array>
		<array>
			<string>2015-11-30-microphones.markdown</string>
		</array>
		<array>
			<string>2015-12-09-illumination.markdown</string>
		</array>
		<array>
			<string>2015-12-13-loss-function.markdown</string>
		</array>
		<array>
			<string>2015-12-24-linear-regression-exercise.markdown</string>
		</array>
		<array>
			<string>2016-01-07-object-oriented-refreshing.markdown</string>
		</array>
		<array>
			<string>2016-01-14-feedback-mechanism-research.markdown</string>
		</array>
		<array>
			<string>2016-01-16-sampling.markdown</string>
		</array>
		<array>
			<string>2016-01-19-gaussian-process.markdown</string>
		</array>
		<array>
			<string>2016-01-19-stereo.markdown</string>
		</array>
		<array>
			<string>2016-01-24-mixture-models-and-expectation-maximization.markdown</string>
		</array>
		<array>
			<string>2016-01-27-variational-inference.markdown</string>
		</array>
	</array>
</dict>
</plist>
